html{
  height: 100%;
}
body{
  height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container-fluid{
  padding: 0;
}

.cabecera{
  height: auto;
  text-align: center;
  text-decoration-color: white;
  font-size: 24px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#titulo{
  color: white;
}

.todo{
  height: 100%;
}

.map{
  width: 100%;
  height: 100%;
}
/*controles*/

.ol-control {
  color: #454545;
  background-color: rgba(255,255,255,0.9);
}

.ol-scale-line{
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
  bottom: 5em;
  left: 0.5em;
}

.ol-scale-line-inner{
  color: #454545;
  border-color: #454545;
}

.mapa-base{
  position: absolute;
  width: 3em;
  height: 3em;
  bottom: 5em;
  right: 0.5em;
  background-size: cover;
  border: solid 2px #CCC;
  border-radius: 0.3em;
  cursor: pointer;
}

.base-esri{
  background-image: url('../img/base_esri.png');
}

.base-mapbox{
  background-image: url('../img/base_mapbox.png');
}

.leyenda{
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0.3em;
  color: #454545;
  left: 0.5em;
  top: 8em;
  padding: 2px 5px;
}

.ol-control button{
  color: #454545;
  background-color: rgba(255,255,255,0.9);
}

.ol-control button:hover{
  color: white;
  background-color: #454545;
}

.ol-control button:focus{
  color: #454545;
  background-color: rgba(255,255,255,0.9);
}

.zoom-centros{
    right: 0.5em;
    top: 25%;
}

/* .ol-custom-overviewmap:not(.ol-collapsed)  {
  border: 1px solid black;
  right: 1px;

}

.ol-custom-overviewmap{
  border: none;
  width: 200px;
  right: 0.5em;
  bottom: 0.5em;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
  bottom: auto;
  left: auto;
  right: 1px;
  top: 1px;
} */

/*popups*/
.popover{
  background-color: transparent;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
}

.popover-header{
  position: relative;
  display: block;
  padding: 5px;
  height: 120px;
  background-size: cover;
}

h4 span{
  background-color: rgba(0, 0, 0, 0.7);
}

.popover-titulo{
  position: relative;
  bottom: 2px;
  color: white;
  float: left;
  padding-left: 2px;
  padding-right: 2px;
  display: inline;
  font-size: 14px;
  margin-top: 70px;
  display: inline;
  overflow-wrap: break-word;
}

.popover-pildoras{
  color: #454545;
  width: 100%;
  background-color: white;
  padding: 2px;
}

.popover-pildoras a{
  padding:1px 3px;
  margin-right: 3px;
}

.nav-pills > li > a{
  color: #454545;
  border-radius: 0;
}

.nav-pills > li > a:hover{
  color: #454545;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #454545;
}


.popover-body{
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  color: #454545;
}

.cierra-pop{
  float: right;
  width: 25px;
  height: 25px;
  padding-top: 3px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  border-radius: 100%;
  color: #454545;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*contenido popup*/
.pop-clave{
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 10px;
}

.pop-item{
  margin-bottom: 8px;
}

.pop-item a{
  color: steelblue;
  text-decoration: none;
}

/*pie*/
footer{
  position: absolute;
  bottom: 0;
  background-color: #454545;
  color: white;
  padding: 8px;
  width: 100%;
  height: 3em;
}

.log-min{
  float: left;
  margin: 0;
}

.logo{
  height: 30px;
  margin-top: 0px;
}
